/*
*******************************************
*******************************************

@File: Spark Theme Styles

* This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Browser Reset + Common Styles.
** - Home Page Styles.
** - About Page Styles.
** - Domain Search Page Styles.
** - WebHosting Page Styles.
** - Testimonial Page Styles.
** - Domain Manage Page Styles.
** - Account Manage Page Styles.
** - Hosting Manage Page Styles.
** - Faq Page Styles.
** - Contact Page Styles.
** - Cart Page Styles.
** - Checkout Page Styles.
** - Blog Page Styles.
** - Single-Blog Page Styles.
** - Support Page Styles.
** - ComingSoon Page Styles.
** - 404 Page Styles.




*/


/*
*****************************************
>>> |Imported Css|
*****************************************
*/

@import url("../bootstrap.min.css");
@import url("../font-awesome.min.css");
@import url("../animate.min.css");
@import url("../../fonts/webfonts/fonts.css");
@import url("../icofont.css");
@import url("../owl.carousel.css");

/*
*****************************************
>>> | Browser Reset & Common CSS|
*****************************************
*/

* {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0 0 10px 0;
}

.h2,
.h3,
.h4 {
	font-family: 'proxima_novasemibold';
	margin: 0 0 10px 0;
}

a,
a:hover,
a:focus,
a:visited {
	text-decoration: none !important;
	outline: none !important
}

input {
	outline: none !important;
}

body {
	font-family: 'proxima_nova_rgregular';
	font-size: 15px;
	line-height: 20px;
	color: #738191
}

span {
	display: inline-block
}

img {
	max-width: 100%
}

.Btn {
	line-height: 50px;
	display: inline-block;
	font-size: 13px;
	font-family: 'proxima_nova_rgbold';
	text-transform: uppercase;
	padding: 0 25px;
	color: #fff;
	border-radius: 4px;
	min-width: 180px;
	text-align: center
}

.Btn:hover {
	color: #fff
}

.secPdng {
	padding: 90px 0
}

.secPdngT {
	padding-top: 90px
}

.sectionTitle {
	margin-bottom: 60px;
	text-align: center
}

.sectionTitle .h2 {
	font-size: 30px;
	line-height: 40px;
	margin: 0
}

.sectionBar {
	height: 1px;
	width: 100%;
	background: #EAEAEA
}


/*preloader*/


/*
*****************************************
>>> | Header Area Css |
*****************************************
*/

header .topInfo {
	list-style: outside none none;
	margin: 0;
	text-align: right
}

header .topInfo li {
	display: inline-block;
}

header .topInfo li a {
	display: inline-block;
	font-size: 13px;
	line-height: 50px;
	font-family: 'proxima_novasemibold';
	margin-left: 30px
}

header .topInfo li a i {
	margin-right: 15px;
}

header .headerTopArea {
	border-bottom: 1px solid #ebebeb
}

header .logo {
	display: inline-block;
	height: 37px;
	position: relative;
	z-index: 9
}

header .logo img {
	height: 100%;
}

header .headerBottomArea {
	padding: 30px 0;
	border-bottom: 1px solid #eaeaea;
}

header nav#navbar {
	padding: 0;
	margin-right: -30px
}

header nav#navbar > ul {
	text-align: right;
	margin-bottom: 0;
	padding-right: 4px
}

header nav#navbar ul > li {
	display: inline-block;
	position: relative
}

header nav#navbar ul > li > a {
	color: #9aadbf;
	display: inline-block;
	font-size: 13px;
	line-height: 37px;
	padding: 0 15px;
	text-transform: uppercase;
	font-family: 'proxima_novasemibold';
	-webkit-transition: .4s;
	transition: .4s;
}

@media only screen and (min-width: 992px) and (max-width: 6000px) {
	/*for dropdown*/

	
	header nav#navbar > ul {
		border-right: 1px solid #e4e9f0;
	}
	header nav#navbar ul > li::before {
		background: transparent;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;
	}
	header nav#navbar ul > li.current-menu-item > a,
	header nav#navbar ul > li > a:hover {
		color: #233141
	}
}


/*mega menu*/


@media only screen and (min-width: 0px) and (max-width: 991px) {
	.menuCol {
		position: relative;
	}
	.navbar-header {
		position: absolute;
		right: 75px;
		top: 0;
		z-index: 9
	}
	header nav#navbar {
		background: #233141;
		position: absolute;
		right: 15px;
		top: 67px;
		width: 280px;
		z-index: 3;
		border: 10px solid RGBA(255, 255, 255, 0.12);
		margin-right: 0
	}
	header nav#navbar ul {
		margin: 0;
	}
	.navbar-toggle {
		color: #288feb;
		font-size: 20px;
		margin: 0;
		padding-right: 0;
	}
	header nav#navbar ul li > a {
		border-top: 1px solid RGBA(255, 255, 255, 0.1);
		color: #fff;
		display: block;
		line-height: 45px;
		padding-left: 25px;
		text-align: left;
	}
	header nav#navbar ul li {
		display: block;
	}
	header nav#navbar ul > li:first-child > a {
		border: medium none;
	}
	/*	mega-menu responsive*/
}


/*
*****************************************
>>> | Home Area Css |
*****************************************
*/

.homeArea .container {
	position: relative;
	z-index: 1
}

.homeContent {
	color: #fff;
	padding: 140px 0
}

.homeContent span.h2 {
	font-size: 34px;
	margin-bottom: 15px;
	padding-right: 30px;
	line-height: 46px;
	color: #fff;
	font-family: 'proxima_nova_rgbold'
}


.homeContent p {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	font-family: 'proxima_novalight';
}

.homeBtn {
	margin-top: 45px
}

.homeImgTable {
	display: table;
	height: 577px;
	width: 100%;
}

.homeImg {
	text-align: right;
	display: table-cell;
	vertical-align: middle
}


/*
*****************************************
>>> | Domain Area Css |
*****************************************
*/


/*problem bg color pettarn */


/*
*****************************************
>>> | Service Area Css |
*****************************************
*/

.singleService {
	text-align: center;
	line-height: 28px;
	margin-top: 60px;
}

.singleService .serviceIcon {
	height: 85px;
	margin-bottom: 30px;
}

.serviceContent .h3 {
	font-size: 22px;
	margin-bottom: 25px;
}

.serviceContent p {
	margin: 0;
}

.serviceIcon > img {
	max-height: 100%;
}


/*
*****************************************
>>> | Price Area Css |
*****************************************
*/


/*
*****************************************
>>> | cta Area Css |
*****************************************
*/

.ctaCol {
	padding: 0 85px;
}

.ctaTxt {
	color: #7a828a;
	font-family: "proxima_novalight";
	font-size: 17px;
	line-height: 30px;
	display: table;
}

.ctaCell {
	display: table-cell;
	vertical-align: middle
}

.ctaTxt p {
	margin: 0;
}

.ctaTxt .Btn {
	margin-top: 40px;
}

.ctaImgOne img {
	width: 100%;
}

.ctaColBtm {
	padding-left: 35px
}

.ctaRow {
	margin-bottom: 60px;
}


/*
*****************************************
>>> | client Area Css |
*****************************************
*/


/*
*****************************************
>>> | cta two Area Css |
*****************************************
*/

.ctaTwo {
	padding: 60px 0;
	text-align: center;
}


/*
*****************************************
>>> | Footer Area Css |
*****************************************
*/

footer {
	position: relative;
}

.footerLogo {
	display: block;
	margin-bottom: 35px;
}

.footerTxt {
	font-size: 14px;
	line-height: 26px;
}

.footerTxt > p {
	margin: 0;
}

.footerTxt {
	margin-bottom: 35px;
}

.footerLinkIcon {
	margin: 0;
}

.footerLinkIcon li {
	display: inline-block;
	list-style: outside none none;
}

.footerLinkIcon li a {
	border: 1px solid;
	border-radius: 50%;
	color: #a0a0a0;
	display: inline-block;
	height: 32px;
	line-height: 30px;
	margin-right: 4px;
	text-align: center;
	width: 32px;
	-webkit-transition: .4s;
	transition: .4s;
}

.footerLinkIcon li:last-child a {
	margin: 0;
}

.widget .h4,
.contactInfo .h4 {
	font-family: "proxima_nova_rgbold";
	font-size: 18px;
	margin-bottom: 35px;
	text-transform: capitalize;
}

.footerLink {
	list-style: outside none none;
	margin: 0;
}

.footerLink > li a {
	color: #868f9a;
	display: inline-block;
	font-family: "proxima_novasemibold";
	line-height: 32px;
	-webkit-transition: .4s;
	transition: .4s;
    font-size: 14px;
}

.footerLink > li a:hover {
	text-decoration: underline!Important
}

.copyrightTxt {
	color: #9fa3a8;
	line-height: 24px;
	padding: 50px 0 40px;
	font-size: 14px
}

.copyrightTxt p {
	margin: 0;
}

/****************************************/


/*about page*/


/****************************************/


/********************************/


/*domainPage*/


/********************************/


/*******************************/


/*hosting page*/


/*******************************/

.stepNo {
	background: #233141;
	border: 7px solid #e9f5ff;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	float: left;
	font-family: "proxima_nova_rgbold";
	font-size: 28px;
	height: 95px;
	line-height: 88px;
	text-align: center;
	width: 95px;
}

.singleStep {
	overflow: hidden;
}

.stepContent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 95px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 20px;
}

.stepContent .h4 {
	margin-bottom: 10px;
}

.stepContent > p {
	font-size: 14px;
	margin: 0;
}


/*************************************/


/*testimonial page*/


/*************************************/


/*****************************/


/*account*/


/*****************************/


/***************************************/


/*domanin manage*/


/***************************************/


/******************************************/


/*contact*/


/******************************************/


/*******************************************/


/*cart page*/


/*******************************************/


/****************************************/


/*checkout*/


/****************************************/


/***********************************/


/*blog page*/


/***********************************/


/**********************************************/


/*single blog*/


/**********************************************/


/***************************************/


/*support page*/


/***************************************/


/*accordion*/


/***************************************/


/*coming soon page*/


/***************************************/


/*********************************/


/*404 page*/


/*********************************/


/*************************************************/


/*************************************************/


/*************************************************/


/*color css*/


/* first bg */

.homeArea,
.Btn,
.ctaTwo {
	background: #288feb;
	color: #fff;
}


/*secound bg*/


/*primary color*/

header .topInfo li a,
.h2,
.h3,
.h4 {
	color: #233141
}


/*secound color*/

.sectionTitle .h2 span,
.footerLinkIcon li a:hover,
.footerLink > li a:hover {
	color: #288feb
}


/*border color*/


/* button hover color*/

.Btn:hover {
	background: #3FA5FF;
}


/*button transition effect*/

.Btn {
	-webkit-transition: .4s;
	transition: .4s;
}
